<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mimu.springboot.mybatis.generator.mapper.school.SchoolInfoMapper">
  <resultMap id="BaseResultMap" type="com.mimu.springboot.mybatis.generator.model.school.SchoolInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="serial" jdbcType="INTEGER" property="serial" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <sql id="Base_Column_List">
    id, serial, name, address
  </sql>
  <insert id="insertSelective" parameterType="com.mimu.springboot.mybatis.generator.model.school.SchoolInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into school_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serial != null">
        serial,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="address != null">
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serial != null">
        #{serial,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mimu.springboot.mybatis.generator.model.school.SchoolInfo">
    update school_info
    <set>
      <if test="serial != null">
        serial = #{serial,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>